html {
	width: 100%;
	height: 100%;
	margin: 0px auto;
}

* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	color: #657281;
	font-size: 20px;
	background: #f1f5f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

* html .geral {
	height: 100%;
	/* hack para IE6 que trata height como min-height */
}
/***************************************************************************************
* FONTES
***************************************************************************************/

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

b {
	font-weight: 700;
}

p {
	line-height: 30px;
}

strong {
	font-weight: 900;
}

.regular {
	font-weight: 400;
}

b {
	font-weight: 700;
}

strong {
	font-weight: 900;
}

.ttl-01 {
	text-transform: uppercase;
	color: #2c3e51;
	font-size: 50px;
	font-weight: 900;
	line-height: normal;
}

.txt-descricao-01 {
	color: #1b999c;
	font-weight: 900;
	font-size: 18px;
	display: block;
}

.line {
	width: 65px;
	height: 1px;
	background: #1b999c;
	margin: 0 auto;
	display: block;
	margin: 20px auto 50px auto;
}

.ttl-02 {
	color: #2c3e51;
	font-weight: 300;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
	line-height: 35px;
}

.txt-descricao-02 {
	color: #1b999c;
	font-weight: 400;
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}

.ttl-03 {
	text-transform: uppercase;
	color: #2c3e51;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 30px;
	line-height: 35px;
}

.txt-servicos {
	color: #657281;
	text-align: center;
	line-height: 30px;
	margin-bottom: 50px;
}

.txt-destacado {
	color: #1b999c;
	border-left: 3px solid #1b999c;
	padding-left: 30px;
}

.ttl-04 {
	text-transform: uppercase;
	color: #2c3e51;
	font-size: 60px;
	font-weight: 900;
	line-height: normal;
}

.ttl-05 {
	text-transform: uppercase;
	color: #2c3e51;
	font-size: 40px;
	font-weight: 900;
	line-height: normal;
}

.ttl-perfil {
	background: url('../img/ttl-perfil.jpg') no-repeat center center;
}

.ttl-projetos {
	background: url('../img/ttl-projetos.jpg') no-repeat center center;
}

.ttl-blog {
	background: url('../img/banner_blog.jpg') no-repeat center center;
}

.ttl-404 {
	background: url('../img/gif_pagina_nao_encontrada.gif') no-repeat center center;
}
/***************************************************************************************
* CORES
***************************************************************************************/

.branco {
	color: #fff;
}

.bg-branco {
	background-color: #fff;
}

.azul {
	color: #f1f5f8;
}

.bg-azul {
	background-color: #f1f5f8;
}

.verde {
	color: #1b999c;
}

.bg-verde {
	background-color: #1b999c;
}

.verde-claro {
	color: #228CC6;
}

.bg-verde-claro {
	background-color: #228CC6;
}

.verde-intensive {
	color: #4dffcd;
}

.bg-verde-intensive {
	background-color: #4dffcd;
}

.verde-vega {
	background-color: #b9d30b;
}

.bg-azul-clarinho {
	background-color: #dae8f3;
}

.azul-intensive {
	color: #4de9ff;
}

.bg-azul-intensive {
	background-color: #4de9ff;
}
/***************************************************************************************
* BOTÃ•ES
***************************************************************************************/

.menu-desktop li.bt-verde {
	margin: 28px 20px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	color: #fff;
	background-color: #228CC6;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0 25px;
	-webkit-transition: 0.1s;
	/* For Safari 3.1 to 6.0 */

	transition: 0.1s;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

.bt-verde {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	color: #fff;
	background-color: #228CC6;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0 40px;
	-webkit-transition: 0.1s;
	/* For Safari 3.1 to 6.0 */

	transition: 0.1s;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-decoration: none;
}

.menu-desktop .bt-verde a,
.menu-desktop .bt-verde a:hover {
	color: #fff;
}

.menu-desktop li.bt-verde {
	height: 40px;
	line-height: 40px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.menu-desktop li.bt-verde:hover,
.bt-verde:hover {
	background-color: #228CC6;
	color: #fff;
	border: none;
}

.bt-verde i {
	margin-right: 10px;
	font-weight: 400;
	font-size: 21px;
	display: block;
	float: left;
	margin-top: 9px;
}

.bt-enviar {
	padding: 0 40px;
	width: 25%;
	text-transform: uppercase;
	margin: 20px 0 30px 0;
}

.bt-outline {
	width: auto;
	margin: 0 auto;
	display: inline-block;
	padding: 0 30px;
	font-size: 12px;
	border: 1px solid #228CC6;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	line-height: 30px;
	color: #228CC6;
	text-transform: uppercase;
	-webkit-transition: 0.1s;
	/* For Safari 3.1 to 6.0 */

	transition: 0.1s;
}

.bt-outline-big {
	width: auto;
	margin: 0 auto;
	display: inline-block;
	padding: 0 60px;
	font-size: 18px;
	border: 1px solid #228CC6;
	-webkit-border-radius: 15px;
	border-radius: 25px;
	line-height: 50px;
	color: #228CC6;
	text-transform: uppercase;
	-webkit-transition: 0.1s;
	/* For Safari 3.1 to 6.0 */

	transition: 0.1s;
}
/***************************************************************************************
* HEADER
***************************************************************************************/

header {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e2e2e2;
	/*box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 5px 0px;*/

	height: 95px;
	position: relative;
	z-index: 1;
}

header .marca {
	display: block;
	float: left;
	margin: 13px 0 0 3%;
	text-indent: -9999px;
}

header .img-marca-celular {
	width: 96px;
}

header .img-marca-desktop {
	width: 258px;
}

.menu-mobile {
	float: right;
	color: #1b999c;
	font-size: 32px;
	line-height: 85px;
	background: none;
	border: none;
	outline: none;
	margin: 0px 3% 0 0;
}

.menu-desktop {
	font-size: 16px;
	font-weight: 900;
	float: right;
}

.menu-desktop li {
	line-height: 95px;
	float: left;
}

.menu-desktop li a {
	margin: 0 20px;
	color: #2d3f51;
	text-decoration: none;
	text-transform: uppercase;
	height: 95px;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
	/* For Safari 3.1 to 6.0 */

	transition: 0.5s;
}

.menu-desktop li a:hover {
	color: #228CC6;
	border-bottom: 2px solid #228CC6;
}

.bt-fechar {
	font-size: 32px;
	background: none;
	border: 0;
	color: #228CC6;
	float: right;
	margin: 23px 3% 0 0;
}

.md-show.md-effect-12 ~ .md-overlay {
	background-color: #2c3e51;
}

.md-show ~ .md-overlay {
	opacity: 0.9;
	visibility: visible;
}

.lista-menu-mobile li {
	list-style: none;
}

.lista-menu-mobile li a {
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	line-height: 70px;
	text-decoration: none;
	color: #fff;
	display: block;
}
/***************************************************************************************
* SECTION-BANNER
***************************************************************************************/

#fullpage {
	margin-top: -95px;
	z-index: 0;
}

.slide {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10%;
	background-position: center;
}

.fp-controlArrow {
	top: 55% !important;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
	border: none;
	font-size: 80px;
	color: #228CC6;
	font-family: 'icomoon';
	width: 100px;
}

.fp-controlArrow.fp-next:after {
	content: "\e61c";
}

.fp-controlArrow.fp-prev:after {
	content: "\e612";
}

.ttl-banner {
	color: #228CC6;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;
	padding: 0 10%;
}

.txt-banner {
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 50px;
}

.padding-banner {
	padding-top: 50px;
}
/***************************************************************************************
* SECTION-PORTFOLIO
***************************************************************************************/

.section-portfolio {
	padding: 100px 0 150px;
}
/***************************************************************************************
* THUMB-BOX-PORTFOLIO
***************************************************************************************/

img {
	max-width: 100%;
	height: auto;
}

.thumb-box {
	/*width:100%;*/

	height: auto;
	background: #fff;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	margin: 0px 5px 30px 0px;
	box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px 0px;
	border: 1px solid transparent;

	transition: 0.3s;

	/* filter: url(filters.svg#grayscale); Firefox 3.5+ */
     /*filter: gray; /* IE5+ */
     /*-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
     -webkit-transition: all .4s ease-in-out; 
}

.thumb-image img {
	width: 100%;
	/*height: 200px;*/

	display: block;
	background: #e8e8e8;
	overflow: hidden;
}

.ttl-box {
	font-size: 20px;
	color: #2c3e51;
	font-weight: 900;
	display: block;
	padding: 10% 10% 3% 10%;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	display: block;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tipo-box {
	font-size: 14px;
	font-weight: 300;
	color: #808080;
	display: block;
	padding: 0 5% 10% 5%;
	white-space: nowrap;
	text-overflow: ellipsis;


}

.tipo-box-2 {
	font-size: 12px;
	font-weight: 300;
	color: #808080;
	display: block;
	padding: 0 5% 10% 5%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.thumb-box:hover {
	border: 1px solid #228CC6;
	filter: none;
      -webkit-filter: grayscale(0);
}

.thumb-box:hover .bt-outline,
.bt-outline:hover {
	background: #228CC6;
	color: #fff;
}
/***************************************************************************************
* SECTION-PERFIL
***************************************************************************************/

.section-perfil {
	width: 100%;
	height: auto;
	background: #4dffcd;
	padding: 65px 0 80px 0;
	position: relative;
	margin-top: 110px;
}

.avatar {
	width: 207px;
	height: 256px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-top: -215px;
}

.link-avatar {
	width: auto;
	height: 256px;
	display: inline-block;
	z-index: 0;
	position: relative;
}

.link-contato {
	width: auto;
	height: auto;
	display: inline-block;
	position: absolute;
	top: 30px;
	z-index: 1;
	right: -30px;
}

.ico-contato {
	width: 78px;
	height: 78px;
}

.link-avatar img,
.ico-contato img {
	width: 100%;
}

.section-perfil .txt {
	color: #2c3e51;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 50px;
}

.section-perfil .txt b {
	font-weight: 900;
}

.section-perfil .ttl-01 {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 10px;
}

.section-perfil .ttl-02 {
	margin-bottom: 40px;
}

.ttl-meu-nome {
	font-size: 24px;
	color: #228CC6;
	text-align: center;
	line-height: auto;
	font-weight: 300;
}

.lista-redes-sociais {
	display: inline-block;
}

.lista-redes-sociais li {
	float: left;
	list-style: none;
	margin-bottom: 20px;
}

.lista-redes-sociais li a {
	padding: 0 15px;
	color: #228CC6;
	text-decoration: none;
	font-size: 30px;
}
/***************************************************************************************
* SECTION-SERVICOS
***************************************************************************************/

.section-servicos {
	padding: 90px 3% 40px 5%;
}

.box-link-servico {
	width: 100%;
	height: auto;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	display: block;
	overflow: hidden;
	margin-top: 50px;
}

.box-servicos {
	width: 50%;
	height: 600px;
	background-color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px 0px;
	-webkit-transition: 0.5s;
	/* For Safari 3.1 to 6.0 */

	transition: 0.5s;
	display: block;
	padding: 7% 5%;
}

.servico-01 {
	background: url('../img/servico-01.jpg') no-repeat center center;
}

.servico-02 {
	background: url('../img/servico-02.jpg') no-repeat center center;
}

.servico-03 {
	background: url('../img/servico-03.jpg') no-repeat center center;
}

.box-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.ico-servicos {
	display: inline-block;
	margin-bottom: 15px;
}
/***************************************************************************************
* SECTION-BLOG
***************************************************************************************/

section.blog {
	overflow: hidden;
}

.ttl-blog {
	margin-bottom: 50px;
}

.ttl-blog .ttl {
	text-transform: uppercase;
	color: #2c3e51;
	font-size: 50px;
	font-weight: 900;
	color: #fff;
}

.ttl-blog .txt-descricao {
	display: block;
	color: #4de9ff;
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 20px;
}

.ttl-blog .line {
	background: #4de9ff;
	margin-bottom: 0;
}

section.blog .flexslider {
	border: none;
	box-shadow: none;
	background: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0 7%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 60px;
}

section.blog .flexslider .slides li {
	margin-right: 13px;
	position: relative;
}

section.blog .thumb-box {
	margin-right: 0;
	margin-bottom: 0;
	-webkit-transition: none;
	transition: none;
	position: relative;
}

.tag {
	height: 20px;
	line-height: 20px;
	background: #228CC6;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	padding: 0 10px;
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
}

section.blog .thumb-image {
	margin-bottom: 20px;
	height: 200px;
	display: block;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.data {
	color: #97a8bc;
	font-size: 16px;
	margin-bottom: 15px;
	display: block;
	line-height: 24px;
}

.icon-clock96 {
	font-size: 18px;
	margin-right: 7px;
	vertical-align: middle;
}

section.blog .ttl-box {
	text-transform: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
	padding-top: 0;
	text-overflow: initial;
	white-space: initial;
	width: auto;
}

section.blog .flex-control-nav {
	position: relative;
	z-index: 1;
}

section.blog .flex-direction-nav a:before {
	font-family: 'icomoon';
	font-size: 60px;
	display: inline-block;
	color: rgba(0, 0, 0, 1);
	text-shadow: none;
	color: #228CC6;
}

section.blog .flex-direction-nav a.flex-prev:before {
	content: "\e612";
}

section.blog .flex-direction-nav a.flex-next:before {
	content: "\e61c";
}

section.blog .flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
	right: 20px;
}

section.blog .flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
	left: 20px;
}

section.blog .flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	margin: -20px 0 0;
	text-indent: 9999999;
}

section.blog .flex-viewport {
	height: auto;
}

section.blog .flex-control-paging li a {
	width: 22px;
	height: 22px;
	background: #d5dfe9;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	margin-top: 10px;
}

section.blog .flex-control-paging li a.flex-active {
	background: #228CC6;
}
/***************************************************************************************
* PROJETOS
***************************************************************************************/

.projetos-interna {
	padding: 50px 0;
}
/***************************************************************************************
* SINGLE PROJETO
***************************************************************************************/

.ttl-page {
	width: 100%;
	height: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 150px 0;
	text-align: center;
	background-position: center;
	background-size: cover;
	position: relative;
}

.breadcrumb {
	width: auto;
	display: block;
	margin: 0 auto;
	font-size: 16px;
	margin-bottom: 15px;
}

.breadcrumb a {
	display: inline;
	text-decoration: none;
	color: #2c3e51;
	margin: 0 3px 0 0;
}

.breadcrumb label {
	font-weight: 900;
}

.breadcrumb.branco label,
.breadcrumb.branco a {
	color: #fff;
}

.breadcrumb a:hover {
	color: #228CC6;
	text-decoration: underline;
}

.breadcrumb a:after {
	font-family: 'icomoon';
	content: "\e61c";
	margin-left: 5px;
	font-size: 13px;
	text-decoration: none;
}

.full-image {
	width: 100%;
	display: block;
}

.max-image-mockup,
.max-image {
	max-width: 100%;
	display: block;
}

.outros-projetos .ttl {
	width: 100%;
	height: auto;
	padding: 100px 0 50px;

	background: rgb(57, 91, 119);
	/* Old browsers */

	background: -moz-linear-gradient(left, rgba(57, 91, 119, 1) 0%, rgba(30, 191, 195, 1) 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(57, 91, 119, 1)), color-stop(100%, rgba(30, 191, 195, 1)));
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left, rgba(57, 91, 119, 1) 0%, rgba(30, 191, 195, 1) 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left, rgba(57, 91, 119, 1) 0%, rgba(30, 191, 195, 1) 100%);
	/* Opera 11.10+ */

	background: -ms-linear-gradient(left, rgba(57, 91, 119, 1) 0%, rgba(30, 191, 195, 1) 100%);
	/* IE10+ */

	background: linear-gradient(to right, rgba(57, 91, 119, 1) 0%, rgba(30, 191, 195, 1) 100%);
	/* W3C */

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#395b77', endColorstr='#228CC6', GradientType=1);
	/* IE6-9 */

	margin-bottom: 70px;
}
/***************************************************************************************
* SINGLE PROJETOS
***************************************************************************************/

.ttl-page.bg-azul .ttl-01 {
	color: #fff;
}
/***************************************************************************************
* CONTEUDO PADRAO
***************************************************************************************/

.conteudo-padrao {
	padding: 0px;
	padding-bottom: 30px;
}

.conteudo-padrao p {
	margin-bottom: 30px;
	line-height: 36px;
}

.conteudo-padrao a {
	color: #228CC6;
	font-weight: bold;
}

.conteudo-padrao .bt-verde {
	font-weight: normal;
	color: #fff;
}

.conteudo-padrao blockquote p {
	font-weight: 400;
	font-size: 30px;
	color: #2c3e51;
	line-height: 40px !important;
	margin-bottom: 50px;
	border-left: 4px solid #1b999c;
	padding-left: 30px;
	margin: 60px 10% 60px 10%;
}

.conteudo-padrao h1,
.conteudo-padrao h2,
.conteudo-padrao h3,
.conteudo-padrao h4 {
	color: #2c3e51;
	font-size: 40px;
	font-weight: 900;
	line-height: normal;
	margin-bottom: 50px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.conteudo-padrao h1 span,
.conteudo-padrao h2 span,
.conteudo-padrao h3 span,
.conteudo-padrao h4 span {
	display: inline-block;
	color: #1b999c;
	font-size: 20px;
}

.conteudo-padrao h1:after,
.conteudo-padrao h2:after,
.conteudo-padrao h3:after,
.conteudo-padrao h4:after {
	content: '';
	height: 1px;
	width: 50px;
	background: #1b999c;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.conteudo-padrao h2 {
	font-size: 24px;
	text-transform: none;
	text-align: left;
	margin-bottom: 20px;
}

.conteudo-padrao h2:after {
	margin-left: 0;
	margin-top: 20px;
}

.conteudo-padrao img {
	margin: 0 auto;
}

.conteudo-padrao ul li {
	line-height: 36px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	position: relative;
	border-bottom: 1px solid #c8d7d4;
	padding-left: 30px;
}

.conteudo-padrao ul li:last-child {
	border-bottom: none;
}

.conteudo-padrao ul li:before {
	content: '';
	background-color: #1b999c;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin-right: 10px;
	position: absolute;
	top: 15px;
	left: 0;
}
/***************************************************************************************
* GRID PROJETOS
***************************************************************************************/

.grid-1 {
	width: 100%;
	height: auto;
}

.grid-2 {
	width: 50%;
	height: auto;
	float: left;
}

.grid-1 img,
.grid-2 img {
	max-width: 100%;
	padding: 30px;
}
/***************************************************************************************
* BLOG
***************************************************************************************/

.conteudo-blog {
	padding-top: 50px;
}

.conteudo-blog .thumb-image {
	width: 100%;
	height: 300px;
	display: block;
}

.conteudo-blog .thumb-box {
	padding: 350px 10% 50px 10%;
	text-align: left;
	margin-bottom: 50px;
	position: relative;
}

.conteudo-blog .thumb-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 300px;
	z-index: 0;
	background-size: cover;
	background-position: center;
}

.conteudo-blog .thumb-box .tag {
	z-index: 1;
	line-height: 22px;
	height: auto;
	font-size: 14px;
	top: 15px;
	right: 15px;
}

.conteudo-blog .thumb-box .ttl-box {
	font-size: 24px;
	padding: 0;
	line-height: normal;
	text-transform: none;
	margin-bottom: 20px;
	white-space: normal;
	text-overflow: inherit;
}

.conteudo-blog .thumb-box .txt {
	font-size: 18px;
	line-height: 30px;
	color: #657281;
	margin-bottom: 30px;
	display: block;
}

.conteudo-blog .thumb-box .bt-outline {
	margin: 0;
}

.conteudo-blog .thumb-box:hover .ttl-box {
	color: #228CC6;
}

.box-side-right {
	width: 100%;
	height: auto;
	background: #fff;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	margin: 0px 0 30px 0px;
	box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px 0px;
	-webkit-transition: 0.5s;
	/* For Safari 3.1 to 6.0 */

	transition: 0.5s;
	padding-bottom: 30px;
}

.buscar {
	position: relative;
}

.buscar input {
	box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px 0px;
	background: #FFF;
}

.bt-pesquisar {
	border: none;
	background-color: #228CC6;
	color: #fff;
	width: 70px;
	height: 70px;
	line-height: 70px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
}

.bt-pesquisar i {
	line-height: 70px;
}
/***************************************************************************************
* POST
***************************************************************************************/

.image-post {
	background: #e8e8e8;
	width: 100%;
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
}

.image-post::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(44, 62, 81, 0.7);
	content: "";
}

.image-post .data {
	margin-bottom: 0px;
	text-align: center;
	line-height: 37px;
	margin-right: 15px;
	color: #fff;
	z-index: 1;
	position: relative;
}

.image-post .title {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #07F9FF;
	line-height: 45px;
	z-index: 1;
	position: relative;
}

.image-post .description {
	font-size: 30px;
	font-weight: 300;
	font-style: italic;
	color: #fff;
	margin-bottom: 50px;
	line-height: 30px;
	z-index: 1;
	position: relative;
}

.image-post .icon-clock96 {
	margin-left: 5px;
	font-style: normal;
}

.image-post .breadcrumb {
	margin-bottom: 30px;
	z-index: 1;
	position: relative;
	line-height: 20px;
}

.image-post .breadcrumb a,
.image-post .breadcrumb label {
	color: #fff;
}

.autor-post {
	color: #fff !important;
	font-size: 16px;
	text-decoration: none !important;
	display: inline-block;
	line-height: 37px;
	margin-left: 10px;
	font-weight: 900;
}

.avatar-post {
	width: 30px;
	height: 37px;
	background: url('../img/avatar.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.next-post {
	position: relative;
	height: auto;
	margin-bottom: -160px;
	z-index: 0;
	text-align: center;
	padding: 100px 0 130px 0;
	background: #228CC6;
	background-size: cover;
	background-position: center;
}

.next-post::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(7, 152, 156, 0.76);
	content: "";
}

.next-post .title {
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	margin-bottom: 30px;
	display: block;
	line-height: 40px;
	font-weight: 700;
	position: relative;
	z-index: 55;
}

.next-post .bt-outline {
	color: #fff;
	border-color: #fff;
	text-decoration: none;
	position: relative;
	z-index: 55;
	margin-bottom: 0;
}

.comentarios {
	padding-bottom: 100px;
}
/***************************************************************************************
* PERFIL
***************************************************************************************/

.perfil {
	padding: 50px 0;
}

.perfil-inicio {
	padding: 100px 0 30px 0;
}

.perfil-inicio .bloco-1,
.perfil-inicio .bloco-2,
.perfil-inicio .bloco-3 {
	float: left;
}

.perfil-inicio .bloco-1 {
	width: 20%;
	margin-right: 4%;
}

.perfil-inicio .bloco-2 {
	width: 36%;
	margin-right: 4%;
}

.perfil-inicio .bloco-3 {
	width: 36%;
}

.ttl-06 {
	color: #2c3e51;
	font-size: 40px;
	font-weight: 900;
	line-height: normal;
	margin-bottom: 30px;
	text-transform: uppercase;
	display: block;
}

.ttl-06 span {
	display: inline-block;
	color: #1b999c;
	font-size: 20px;
}

.ttl-06:after,
.ttl-07:after {
	content: '';
	height: 1px;
	width: 50px;
	background: #1b999c;
	display: block;
	margin-top: 10px;
}

.perfil-inicio .lista-redes-sociais li a:first-child {
	padding-left: 0;
}

.perfil-destaque {
	padding: 80px 0;
}

.perfil-destaque.ttl-page {
	padding: 100px 0;
	background: url('../img/ttl-perfil-destaque.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	color: #fff;
}

.perfil-destaque .ttl-06 {
	color: #fff;
	font-size: 50px;
	margin-bottom: 0;
}

.perfil-destaque .ttl-06:after,
.perfil-destaque .ttl-07:after {
	margin: 0 auto;
	margin-top: 20px;
}

.perfil-destaque .ttl-06 span {
	color: #4de9ff;
	font-size: 16px;
	margin: 0 auto;
}

.ttl-07 {
	font-size: 24px;
	text-transform: none;
	color: #2c3e51;
	font-weight: 900;
	line-height: normal;
	margin-bottom: 30px;
	display: block;
}

.perfil-destaque .intro {
	padding-bottom: 100px;
}

.thumbs-images-perfil .grid_6 {
	padding: 0 20px;
}

.box-descricao {
	width: 100%;
	height: auto;
	background: #fff;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	margin: 0px 5px 50px 0px;
	box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px 0px;
	padding: 40px 40px 10px 40px;
}

.thumbs-images-perfil figure {
	width: 100%;
	height: 300px;
	background-color: #d4eaf2;
	overflow: hidden;
}

.perfil.icones {
	padding-top: 100px;
	padding-bottom: 0;
}

.perfil.icones .ttl-02 {
	color: #228CC6;
	margin-bottom: 40px;
}

.perfil.icones .txt {
	color: #2c3e51;
	text-align: center;
	margin-bottom: 100px;
}
/***************************************************************************************
* 404
***************************************************************************************/

.ttl-404 {
	margin-bottom: 50px;
}

.ttl-404 .breadcrumb {
	margin-bottom: 30px;
}

.ttl-404 .ttl-01,
.ttl-404 .breadcrumb {
	z-index: 1;
	position: relative;
}

.ttl-404 .line {
	margin-bottom: 0;
}

.ttl-404::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(44, 62, 81, 0.7);
	content: "";
}
/***************************************************************************************
* FOOTER
***************************************************************************************/

footer {
	width: 100%;
	min-height: 100px;
	background-color: #2c3e51;
	position: absolute;
	/* bottom: 0;*/

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	margin-top: 160px;
}

.ico-contato-footer {
	width: 110px;
	margin: 0 auto;
	display: block;
	margin-top: -55px;
}

footer label {
	color: #cee6ff;
	display: block;
	font-weight: 300;
}

footer label span {
	color: #228CC6;
}

footer label i {
	color: #228CC6;
	margin-right: 10px;
	margin-left: 2px;
}

.ttl-footer {
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	color: #228CC6;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 10px;
}

.campos-obrigatorios {
	font-size: 16px;
	color: #cee6ff;
	text-align: center;
	margin-bottom: 40px;
}

footer .txt {
	margin-bottom: 60px;
	text-align: center;
	color: #cee6ff;
}

.section-redes-sociais {
	width: 100%;
	height: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 100px 0;
	background: url('../img/bg-redes-sociais.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.lista-redes-sociais {
	float: none;
}

.section-redes-sociais p {
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: 300;
}

.section-redes-sociais .lista-redes-sociais a {
	padding: 0 15px;
	color: #4dffcd;
	text-decoration: none;
	font-size: 45px;
}
/***************************************************************************************
* FORM
***************************************************************************************/

.form {
	margin-bottom: 80px;
}

input,
textarea,
select {
	width: 100%;
	height: 70px;
	line-height: 70px;
	font-size: 20px;
	color: #657281;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ebf5ff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	outline: none;
	padding: 0 20px;
	margin-bottom: 30px;
	resize: none;
}

textarea {
	height: 228px;
	line-height: 30px;
	padding: 20px;
}
/***************************************************************************************
* VALIDACAO
***************************************************************************************/

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng {
	color: #fff;
	border: none;
	width: 100%;
	height: auto;
	padding: 15px 3%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 !important;
	text-align: center;
	z-index: 9999;
	cursor: pointer;
}

div.wpcf7-validation-errors:after,
div.wpcf7-mail-sent-ok:after,
div.wpcf7-mail-sent-ng:after {
	content: "\e61f";
	font-family: 'icomoon';
	height: 0;
	overflow: hidden;
	visibility: visible;
	display: inline;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 30px;
}

div.wpcf7-validation-errors {
	background: rgba(255, 108, 111, 0.89);
}

div.wpcf7-mail-sent-ok {
	background: #abd721;
}

div.wpcf7-mail-sent-ng {
	background: rgba(241, 154, 42, 0.91);
}

span.wpcf7-not-valid-tip {
	font-weight: normal;
	font-size: 14px;
}

.wpcf7-not-valid {
	border: 2px solid #dc4534;
}

span.wpcf7-not-valid-tip {
	color: #dc4534;
	font-size: 16px;
	margin-top: -20px;
}

span.wpcf7-form-control-wrap {
	position: relative;
	width: 100%;
}
/***************************************************************************************
* CLASSES GENÃ‰RICAS
***************************************************************************************/

.img-left {
	float: left;
	margin: 0 30px 30px 0;
	border: none;
}

.img-right {
	float: right;
	margin: 0 0 30px 30px;
	border: none;
}

.img-max {
	width: 100%;
	height: 100%;
}

.clear {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.normal {
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	border-bottom: 1px solid;
}

.highlight {
	padding: 0 3px 2px;
	color: #333;
	font-size: 11px;
	background: #00deff;
	font-weight: bold;
}
/*.big                                  { font-size:130%; line-height:130%; }
.small                                  { font-size:70%; line-height:70%; }*/

.nopadding {
	padding: 0;
}

.noindent {
	margin-left: 0;
	padding-left: 0;
}

.nobullet {
	list-style: none;
	list-style-image: none;
}

.block {
	display: block;
}

.hidden {
	display: none;
}

.hide {
	display: none;
}

.center {
	margin: 0 auto;
	display: block;
}

.marginb {
	margin-bottom: 0;
}

.paddingb {
	padding-bottom: 0;
}

.small_margin {
	height: 30px;
	width: 100%;
	display: block;
	clear: both;
}

.smallmargin {
	margin-bottom: 25px;
}

.mediummargin {
	margin-bottom: 50px;
}

.bigmargin {
	margin-bottom: 100px;
}
