section {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

aside {
  display: block;
  margin-top: 20px;
  width:10%;
}

#logo  {
  width: 200px;
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#titulo {
  background-color: #293D69;
  padding: 30px;
  color: #fff;
}

div#header {
  background-color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f5f5f5;
}

h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  line-height: 1.3em;
}

h2 {
  font-weight: 300;
  font-size: 1.4em;
  text-align: center;
  line-height: 1.4em;
}

h3 {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 4%;
  line-height: 1.5em;
}

p {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4em;
}

#ebook {
  width: 100%;
  margin: auto;
  display: block;
  padding-left: 5%;
  margin-right: -5%;
}

p.lista {
  display: list-item;
  font-weight: 600;
  margin-left: 5%;
  color:#353535;
  font-size: 1em;
  line-height: 1.4em;
}

p#legenda {
  font-weight: 300;
  color:#353535;
  font-size: 0.8em;
  line-height: 1.4em;
  margin-top: 30px;
}

div.formulario {
  background-color: #fff;
  width: 90%;
  padding: 25px 30px 10px 30px;
  box-shadow: 3px 3px 15px #cccccc;
  -webkit-box-shadow: 3px 3px 15px #cccccc;
  -moz-box-shadow: 3px 3px 15px #cccccc;
  margin-left: 15px;
  margin-bottom: 50px;
}

a#button {
  text-align: center;
  margin: auto;
  display: block;
  width: 170px;
}

p#subtitulo-form {
  text-align: center;
}

h3#titulo-form {
  text-align: center;
}

section#conteudo {
  margin-left: -1%;
}
